# This file is part of REANA.
# Copyright (C) 2017, 2018 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include Dockerfile
include .dockerignore
include LICENSE
include *.rst
include *.sh
include *.txt
include .flake8
include pytest.ini
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include reana_workflow_monitor *.html
recursive-include tests *.py
recursive-include server *.0
recursive-include server *.css
recursive-include server *.editorconfig
recursive-include server *.eot
recursive-include server *.gif
recursive-include server *.html
recursive-include server *.js
recursive-include server *.jscsrc
recursive-include server *.json
recursive-include server *.jst
recursive-include server *.lock
recursive-include server *.map
recursive-include server *.md
recursive-include server *.odg
recursive-include server *.php
recursive-include server *.png
recursive-include server *.py
recursive-include server *.svg
recursive-include server *.ttf
recursive-include server *.txt
recursive-include server *.woff
recursive-include server *.woff2
recursive-include server CHANGELOG
recursive-include server LICENSE
recursive-include server LICENSE-MIT
recursive-include server NOTICE
recursive-include tracker *.py
